
<%= link_to 'Add new project', new_project_path %>
<% if user_signed_in? %>
	<div class="container">
		<h1 id="output">00 : 00 : 00</h1>
		<div id="controls">

			<button id="pause" class="button btn btn-danger" onclick="pause()"><i class="fa fa-stop fa-2x" aria-hidden="true">Stop</i></button>
			<button id="start" class="button btn btn-success" onclick="start()"><i class="fa fa-play fa-2x" aria-hidden="true">Start</i></button>
			<button id="reset" class="button btn btn-warning" onclick="reset()"><i class="fa fa-repeat fa-2x" aria-hidden="true">Save</i></button>

		</div>
	  <h1>Total time spent on project:</h1>
	</div>
	<% if @projects.any? %>
		<% @projects.each do |project| %>
					<h3><%= project.title %></h3>
					<p><%= project.description %></p>
			<% end %>
		<% else %>
			<h3>You have no projects :(</h3>
	<% end %>

<% else %>
  <h1>Sign in to start tracking your projects</h1>
<% end %>
